* {
    box-sizing: border-box;
}

.ludo-container {
    width: 450px;
    margin: 20px auto;
}

.btn {
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-dice {
    background-color: #009d60;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-dice:hover {
    background-color: #007049;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.dice-value {
    font-size: 24px;
    font-weight: bold;
}

#board {
    width: 400px;
    height: 400px;
    background-color: #f9f9f9;
    margin: 20px auto;
    border: 2px solid #000;
}

/* Estilos para os eventos do jogo */
#events {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    max-height: 200px;
    overflow-y: auto;
}

/* Estilo para o jogador ativo */
.active-player {
    font-size: 20px;
    margin-top: 10px;
}

.active-player span {
    font-weight: bold;
    color: #009d60;
}
